h1{
    font-size: 72px;
    text-align: center;
    background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
    background-size: 200% auto;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    to {
      background-position: 200% center;
    }
}
p{
    color: white;
    text-align: center;
}
